<div>
  <h1>Welcome to Glimmer!</h1>
</div>
<div>
  Hello, {{user.name}}!
</div>
<div>
  Hello, {{user.log}}!
</div>

<input id="cc-number" type="text" class="cc-number" data-cds="ccNumber" required value="4012888888881881">
<input id="cipher" type="input" placeholder="Cipher" data-cds="cipher" readonly>
<input id="cardType" type="input" placeholder="Card Type" data-cds="cardType" readonly>
<input id="responseCode" type="input" data-cds="responseCode" readonly>